<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>系统配置管理</title>
    <link rel="stylesheet" href="/css/element-ui.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/element-ui-override.css">
</head>
<body>
<div id="app">
    <el-breadcrumb separator="/">
        <el-breadcrumb-item>系统配置管理</el-breadcrumb-item>
        <el-breadcrumb-item>系统配置列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form ref="searchParams" class="search-form" :model="searchParams" label-position="left" size="small" label-width="120px">
        <el-row :gutter="10">
            <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6">
                <el-form-item label="配置键">
                    <el-input v-model="searchParams.key" type="text"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="24">
                <el-form-item>
                    <el-button @click="search" type="primary" icon="el-icon-search">搜索</el-button>
                    <el-button @click="resetSearch" type="warning" icon="el-icon-refresh">重置</el-button>
                    <el-button @click="exportExcel" v-if="permissions['sys:config:export']" type="success" icon="el-icon-download">导出</el-button>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
    <el-tabs v-model="searchParams.deleted" @tab-click="search">
        <el-tab-pane name="null" label="全部"></el-tab-pane>
        <el-tab-pane name="0" label="有效"></el-tab-pane>
        <el-tab-pane name="1" label="无效"></el-tab-pane>
    </el-tabs>
    <div class="operate-btn-group">
        <el-button @click="add" v-if="permissions['sys:config:add']" type="primary" icon="el-icon-plus" size="small">添加</el-button>
        <el-button @click="enableSelected" v-if="permissions['sys:config:enable'] && multipleSelection.length > 0" type="success" icon="el-icon-check" size="small">启用</el-button>
        <el-button @click="disableSelected" v-if="permissions['sys:config:disable'] && multipleSelection.length > 0" type="warning" icon="el-icon-close" size="small">禁用</el-button>
        <el-button @click="delSelected" v-if="permissions['sys:config:del'] && multipleSelection.length > 0" type="danger" icon="el-icon-delete" size="small">删除</el-button>
    </div>
    <template v-if="pageInfo && pageInfo.list && pageInfo.list.length > 0">
        <el-table ref="multipleTable" :data="pageInfo.list" tooltip-effect="dark" @sort-change="handleSortChange" @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55"></el-table-column>
            <el-table-column label="配置键" prop="key" sortable="custom">
                <template slot-scope="scope">{{scope.row.key}}</template>
            </el-table-column>
            <el-table-column label="是否删除" prop="deleted" v-if="searchParams.deleted == 'null'" width="80">
                <template slot-scope="scope">
                    <span :class="scope.row.deleted == 0 ? 'text-success' : 'text-danger'">{{getDeletedText(scope.row.deleted)}}</span>
                </template>
            </el-table-column>
            <el-table-column label="创建人" prop="createUser">
                <template slot-scope="scope">{{scope.row.createUser}}</template>
            </el-table-column>
            <el-table-column label="修改人" prop="updateUser">
                <template slot-scope="scope">{{scope.row.updateUser}}</template>
            </el-table-column>
            <el-table-column label="创建时间" prop="createTime">
                <template slot-scope="scope">{{scope.row.createTime | formatDateTime}}</template>
            </el-table-column>
            <el-table-column label="更新时间" prop="updateTime">
                <template slot-scope="scope">{{scope.row.updateTime | formatDateTime}}</template>
            </el-table-column>
            <el-table-column fixed="right" label="操作" width="200">
                <template slot-scope="scope">
                    <el-tooltip effect="dark" :open-delay="500" content="编辑" placement="top" v-if="permissions['sys:config:update']">
                        <el-button @click="edit(scope.row, false)" type="primary" icon="el-icon-edit" size="mini" circle></el-button>
                    </el-tooltip>
                    <el-tooltip effect="dark" :open-delay="500" content="复制" placement="top" v-if="permissions['sys:config:add']">
                        <el-button @click="edit(scope.row, true)" type="primary" icon="el-icon-document-copy" size="mini" circle></el-button>
                    </el-tooltip>
                    <el-tooltip effect="dark" :open-delay="500" content="详情" placement="top">
                        <el-button @click="get(scope.row)" type="info" icon="el-icon-more" size="mini" circle></el-button>
                    </el-tooltip>
                    <el-tooltip effect="dark" :open-delay="500" content="禁用" placement="top" v-if="permissions['sys:config:disable'] && scope.row.deleted==0">
                        <el-button @click="disable(scope.row)" type="warning" icon="el-icon-close" size="mini" circle></el-button>
                    </el-tooltip>
                    <el-tooltip effect="dark" :open-delay="500" content="启用" placement="top" v-else-if="permissions['sys:config:enable'] && scope.row.deleted==1">
                        <el-button @click="enable(scope.row)" type="success" icon="el-icon-check" size="mini" circle></el-button>
                    </el-tooltip>
                    <el-tooltip effect="dark" :open-delay="500" content="删除" placement="top" v-if="permissions['sys:config:del']">
                        <el-button @click="del(scope.row)" type="danger" icon="el-icon-delete" size="mini" circle></el-button>
                    </el-tooltip>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                background
                @size-change="changePageSize"
                @current-change="changePage"
                :current-page="pageInfo.pageNum"
                :page-sizes="[10, 20, 50, 100]"
                :page-size="pageInfo.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageInfo.total">
        </el-pagination>
    </template>
    <el-alert title="暂无数据" type="warning" :closable="false" v-else></el-alert>

    <el-dialog title="系统配置详情" class="dialog-detail" :visible.sync="detailDialogVisible">
        <el-form label-position="left" label-width="120px" size="small">
            <el-form-item label="配置键">
                <span>{{detail.key}}</span>
            </el-form-item>
            <el-form-item label="配置值">
                <pre>{{detail.value}}</pre>
            </el-form-item>
            <el-form-item label="备注">
                <pre>{{detail.remark}}</pre>
            </el-form-item>
            <el-form-item label="是否删除">
                <span :class="detail.deleted == 0 ? 'text-success' : 'text-danger'">{{getDeletedText(detail.deleted)}}</span>
            </el-form-item>
            <el-form-item label="创建人">
                <span>{{detail.createUser}}</span>
            </el-form-item>
            <el-form-item label="修改人">
                <span>{{detail.updateUser}}</span>
            </el-form-item>
            <el-form-item label="创建时间">
                <span>{{detail.createTime | formatDateTime}}</span>
            </el-form-item>
            <el-form-item label="更新时间">
                <span>{{detail.updateTime | formatDateTime}}</span>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="closeDialog" icon="el-icon-close" size="small">关闭</el-button>
            <el-button @click="edit(detail)" v-if="permissions['sys:config:update']" type="primary" icon="el-icon-edit" size="small">编辑</el-button>
            <el-button @click="del(detail)" v-if="permissions['sys:config:del']" type="danger" icon="el-icon-delete" size="small">删除</el-button>
        </div>
    </el-dialog>
    <el-dialog :title="addOrEditTitle" :visible.sync="addOrEditDialogVisible">
        <el-form ref="addOrEditParams" :model="addOrEditParams" label-position="left" label-width="120px" size="small">
            <el-form-item label="配置键">
                <el-input v-model="addOrEditParams.key" type="text"></el-input>
            </el-form-item>
            <el-form-item label="配置值">
                <el-input v-model="addOrEditParams.value" type="textarea" :autosize="{ minRows: 5, maxRows: 100}"></el-input>
            </el-form-item>
            <el-form-item label="备注">
                <el-input v-model="addOrEditParams.remark" type="textarea" :autosize="{ minRows: 5, maxRows: 100}"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="save" type="primary" icon="el-icon-document" size="small">保存</el-button>
            <el-button @click="closeDialog" icon="el-icon-close" size="small">取消</el-button>
        </div>
    </el-dialog>
</div>

<script src="/js/vue.js"></script>
<script src="/js/element-ui.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/config.js"></script>
<script src="/js/common.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            viewPermission: 'sys:config:view',
            permissions: {
                'sys:config:view': false,
                'sys:config:add': false,
                'sys:config:del': false,
                'sys:config:update': false,
                'sys:config:disable': false,
                'sys:config:enable': false,
                'sys:config:export': false,
            },
            deletedSelectList: [{
                value: 0, text: '有效'
            }, {
                value: 1, text: '无效'
            }],
            pkParams: {
                key: '',
                copy: false
            },
            searchParams: {
                deleted: 'null',
                key: '',
            },
            sortParams: {
            },
            searchPage: {
                pageIndex: searchPage.defaultPageIndex,
                pageSize: searchPage.defaultPageSize
            },
            multipleSelection: [],
            pageInfo: {},
            addOrEditParams: {
                key: '',
                value: '',
                remark: '',
            },
            detail: {
                key: '',
                value: '',
                remark: '',
                deleted: 0,
                createUser: '',
                updateUser: '',
                createTime: '',
                updateTime: ''
            },
            addOrEditTitle: '',
            detailDialogVisible: false,
            addOrEditDialogVisible: false
        },
        mounted: function () {
            let self = this;
            self.validatePermissions(self.permissions, self.viewPermission, () => {
                self.search();
            });
        },
        methods: {

            changePage: function (pageIndex) {
                let self = this;
                if (self.searchPage.pageIndex == pageIndex) {
                    return;
                }
                self.searchPage.pageIndex = pageIndex;
                self.search();
            },
            changePageSize: function (pageSize) {
                let self = this;
                if (self.searchPage.pageSize == pageSize) {
                    return;
                }
                self.searchPage.pageSize = pageSize;
                self.searchPage.pageIndex = 1;
                self.search();
            },
            handleSortChange: function ({column, prop, order}) {
                let self = this;
                if (prop) {
                    self.sortParams = {};
                    self.sortParams[prop + "Sort"] = order == 'ascending' ? sortEnum.ASC : sortEnum.DESC;
                } else {
                    self.sortParams = {
                    };
                }
                self.search();
            },
            search: function () {
                let self = this;
                self.checkedList = [];

                let params = {
                    pageSize: self.searchPage.pageSize,
                    pageIndex: self.searchPage.pageIndex,
                    condition: self.searchParams,
                    order: self.sortParams
                };

                let url = '/config/page-list';
                self.ajaxPost(url, params, '获取系统配置列表失败！', response => {
                    self.pageInfo = response.data;
                });
            },
            resetSearch: function () {
                let self = this;
                // self.searchParams.deleted = 'null';
                self.searchParams.key = '';

                self.searchPage.pageIndex = searchPage.defaultPageIndex;
                self.searchPage.pageSize = searchPage.defaultPageSize;
            },
            changeValidSearch: function (valid) {
                let self = this;
                if (self.searchParams.deleted === valid) {
                    return;
                }
                self.resetSearch();
                self.searchParams.deleted = valid;
                self.search();
            },
            add: function () {
                let self = this;
                self.resetSave();
                self.addOrEditDialogVisible = true;
                self.addOrEditTitle = '添加系统配置';
            },
            edit: function (item, copy) {
                let self = this;
                self.resetSave();
                self.addOrEditDialogVisible = true;
                self.addOrEditTitle = copy ? '添加系统配置' : '编辑系统配置';
                self.pkParams.key = item.key;
                self.pkParams.copy = copy;

                let url = '/config/detail';
                let params = self.getPkParams(item);
                self.ajaxGet(url, params, '获取系统配置详情失败！', response => {
                    self.addOrEditParams.key = response.data.key;
                    self.addOrEditParams.value = response.data.value;
                    self.addOrEditParams.remark = response.data.remark;
                    self.addOrEditParams.deleted = response.data.deleted;
                });
            },
            save: function () {
                let self = this;
                let ajaxUrl;
                if (self.pkParams.copy || (self.pkParams.key == '')) {
                    ajaxUrl = '/config/add';
                } else {
                    ajaxUrl = '/config/update?' + 'key=' + self.pkParams.key;
                }

                self.ajaxPost(ajaxUrl, self.addOrEditParams, '操作失败！', response => {
                    self.$notify({
                        message: '操作成功！',
                        type: 'success'
                    });
                    self.resetSave();
                    setTimeout(self.search, 1000);
                });
            },
            resetSave: function () {
                let self = this;
                self.pkParams.key = '';
                self.addOrEditParams.key = '';
                self.addOrEditParams.value = '';
                self.addOrEditParams.remark = '';
                self.closeDialog();
            },
            get: function (item) {
                let self = this;
                self.detailDialogVisible = true;

                let url = '/config/detail';
                let params = self.getPkParams(item);
                self.ajaxGet(url, params, '获取详情失败！', response => {
                    self.detail = response.data;
                });
            },
            closeDialog: function () {
                let self = this;
                self.detailDialogVisible = false;
                self.addOrEditDialogVisible = false;
            },
            handleSelectionChange: function (val) {
                this.multipleSelection = val;
            },
            enableSelected: function () {
                this.execSelected("确定启用吗？", '/config/enable', "启用成功！", "启用失败！");
            },
            disableSelected: function () {
                this.execSelected("确定禁用吗？", '/config/disable', "禁用成功！", "禁用失败！");
            },
            delSelected: function () {
                this.execSelected("确定删除吗？", '/config/delete', "删除成功！", "删除失败！");
            },
            execSelected: function (confirmMsg, url, successMsg, failMsg) {
                let self = this;
                let params = {
                    keyList: self.multipleSelection.map(item => item.key)
                };
                self.confirmPost(confirmMsg, url, params, successMsg, failMsg, response => self.search());
            },
            enable: function (item) {
                this.exec(item, '/config/enable', '确定启用吗？', '启用成功！', '启用失败！');
            },
            disable: function (item) {
                this.exec(item, '/config/disable', '确定禁用吗？', '禁用成功！', '禁用失败！');
            },
            del: function (item) {
                this.exec(item, '/config/delete', '确定删除吗？', '删除成功！', '删除失败！');
            },
            exec: function (item, url, confirmMsg, successMsg, failMsg) {
                let self = this;
                let params = self.getPkParams(item);
                self.confirmPost(confirmMsg, url, params, successMsg, failMsg, response => {
                    self.closeDialog();
                    self.search();
                });
            },
            getPkParams: function (item) {
                return {
                    key: item.key
                };
            },
            getDeletedText: function (value) {
                let self = this;
                let entity = self.deletedSelectList.find(item => item.value == value);
                return entity ? entity.text : '';
            },
            exportExcel: function () {
                let self = this;

                let params = {
                    condition: self.searchParams,
                    order: self.sortParams
                };
                let paramsStr = JSON.stringify(params, (key, value) => {
                    if (value) return value;
                    return undefined;
                });
                window.open('/config/export?params=' + encodeURIComponent(paramsStr));
            }
        }
    });

</script>
</body>
</html>
