<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <link rel="stylesheet" href="/css/element-ui.css">
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/element-ui-override.css">
    <style>
        #forgetPasswordForm {
            position: absolute;
            right: 20%;
            top: 20%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-card id="forgetPasswordForm" shadow="never" style="width: 360px">
        <div slot="header" class="clearfix">
            <span>忘记密码</span>
            <a href="/account/login.html" class="text-primary" style="float: right;">返回</a>
            <!--            <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>-->
        </div>
        <el-form :model="forgetPasswordForm" :rules="forgetPasswordFormRules" ref="forgetPasswordForm" label-width="0">
            <el-form-item prop="account">
                <el-input v-model="forgetPasswordForm.account" placeholder="用户名/手机号/邮箱"></el-input>
            </el-form-item>
            <el-form-item>
                <div style="display: flex;">
                    <el-input v-model="captcha" placeholder="图片验证码" style="flex: 1"></el-input>
                    <img @click="refreshCaptcha" :src="captchaUrl" style="margin-left: 10px; width: 120px; height: 40px" />
                </div>
            </el-form-item>
            <el-form-item prop="msgCode">
                <div style="display: flex;">
                    <el-input v-model="forgetPasswordForm.msgCode" placeholder="手机验证码" style="flex: 1"></el-input>
                    <el-button @click="resetPassword" type="primary" style="margin-left: 10px; width: 120px;">发送验证码</el-button>
                </div>
            </el-form-item>
            <el-form-item prop="password">
                <el-input v-model="forgetPasswordForm.password" placeholder="新密码"></el-input>
            </el-form-item>
            <el-form-item prop="confirm">
                <el-input v-model="forgetPasswordForm.confirm" placeholder="确认新密码"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="resetPassword" type="primary" style="width: 100%">确定</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</div>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/element-ui.js"></script>
<script src="/js/config.js"></script>
<script src="/js/common.js"></script>
<script>

    let app = new Vue({
        el: '#app',
        data() {
            let self = this;
            let validatePassword = function (rule, value, callback) {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else if (self.forgetPasswordForm.confirm !== '') {
                    self.$refs['forgetPasswordForm'].validateField('confirm');
                }
                callback();
            };
            let confirmPassword = function (rule, value, callback) {
                if (value === '') {
                    callback(new Error('请确认密码'));
                } else if (value !== self.forgetPasswordForm.password) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                captcha: '',
                forgetPasswordForm: {
                    account: '',
                    msgCode: '',
                    password: '',
                    confirm: ''
                },
                forgetPasswordFormRules: {
                    account: [{required: true, message: '请输入账号', trigger: 'change'}],
                    msgCode: [{required: true, message: '请输入短信验证码', trigger: 'blur'}],
                    password: [{validator: validatePassword, trigger: 'blur'}],
                    confirm: [{validator: confirmPassword, trigger: 'blur'}]
                },
                captchaUrl: '',
                uuid: commonFun.getUUID()
            };
        },
        mounted: function () {
            let self = this;
            self.refreshCaptcha();
        },
        methods: {
            resetPassword: function () {
                let self = this;
                self.$refs['forgetPasswordForm'].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            refreshCaptcha: function () {
                let self = this;
                self.captchaUrl = '/account/captcha.jpg?uuid=' + self.uuid + '&v=' + new Date().getTime();
            }
        }
    });
</script>
</body>
</html>