<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
    <link rel="stylesheet" href="/css/element-ui.css">
    <link rel="stylesheet" href="/css/material-icons.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/element-ui-override.css">
    <style>
        #resetPasswordForm {
            position: absolute;
            right: 20%;
            top: 20%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-card id="resetPasswordForm" shadow="never" style="width: 360px">
        <div slot="header" class="clearfix">
            <span>登录</span>

            <a href="./login.html" class="text-primary" style="float: right;">返回</a>
<!--            <el-button style="float: right; padding: 3px 0" type="text">操作按钮</el-button>-->
        </div>
        <el-form :model="resetPasswordForm" :rules="resetPasswordFormRules" ref="resetPasswordForm" label-width="0">
            <el-form-item label="" prop="type">
                <el-select v-model="resetPasswordForm.type" placeholder="请选择活动区域">
                    <el-option v-for="item in typeSelectList" :label="item.text" :value="item.value"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="" prop="account">
                <el-input v-model="resetPasswordForm.account" placeholder="用户名/手机号/邮箱"></el-input>
            </el-form-item>
            <el-form-item label="" prop="password">
                <el-input type="password" v-model="resetPasswordForm.password" placeholder="密码"></el-input>
            </el-form-item>
            <el-form-item label="">
                <el-button @click="login" type="primary" style="width: 100%">登录</el-button>
            </el-form-item>
        </el-form>
    </el-card>
</div>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/element-ui.js"></script>
<script src="/js/config.js"></script>
<script src="/js/common.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            typeSelectList: [{
                value: 0,
                text: '管理员账号'
            }, {
                value: 1,
                text: '经纪机构用户'
            }],
            resetPasswordForm: {
                type: 0,
                account: '',
                password: ''
            },
            resetPasswordFormRules: {
                type: [{required: true, message: '请选择账号类型', trigger: 'change'}],
                account: [{ required: true, message: '请输入账号', trigger: 'blur' }],
                password: [{ required: true, message: '请输入密码', trigger: 'blur' }]
            }
        },
        mounted: function () {
        },
        methods: {
            login: function () {
                this.$refs['resetPasswordForm'].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            }
        }
    });
</script>
</body>
</html>